.habContainer{
  background: var(--blanco);
  color: var(--azul-obscuro);
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habWrapper{
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: space-around;
  padding-left: 20px;
}
.leftSideHab, .rightSideHab{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.leftSideHab{
  padding: 20px;
}

.habTitle{
font-family: 'Montserrat',sans-serif;
font-style: normal;
  width: 100%;
font-weight: 600;
font-size: 54px;
line-height: 71px;
  color: var(--azul-obscuro);
}

.habList{
  list-style: none;
  text-align: center;
  /* display: flex; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}

.habItem{
  /* background: var(--azul); */
  padding: 5px;
  border-radius: 10px;
  /* height: 60px; */
  /* width: 60px; */

  display: flex;
  flex-direction: column;
  align-items: center;
}
.habItem:nth-child(2){
  transition-delay:100ms;
}
.habItem:nth-child(3){
  transition-delay:200ms;
}
.habItem:nth-child(4){
  transition-delay:300ms;
}
.habItem:nth-child(5){
  transition-delay:400ms;
}
.habItem:nth-child(6){
  transition-delay:500ms;
}
.habItem:nth-child(7){
  transition-delay:600ms;
}
.habItem:nth-child(8){
  transition-delay:500ms;
}
.habItem:nth-child(9){
  transition-delay:500ms;
}
.habItem:nth-child(-3){
  transition-delay:300ms;
}
.habItem:nth-child(-2){
  transition-delay:200ms;
}
.habItem:nth-child(-1){
  transition-delay:100ms;
}

.iconItem{
  font-size: 50px;
  color: var(--azul);
}
.nameItem{
  color: var(--azul);
  font-size: 16px;
  text-align: center;
  cursor: default;
}
@media (max-width: 990px){
  .habWrapper{
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .rightSideHab{
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 550px){
  .habList{
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  }
.habWrapper{
    gap:20px
  }
.habTitle{
    font-size: 44px;
    line-height: unset;
  }
}
